<nav class="navbar navbar-expand-lg navbar-light bg-dark myNav">
  <a class="navbar-brand logo" href="#">mCast</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fas fa-hamburger myTogglerIcon"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link navLink" routerLink="/" routerLinkActive="active" href="#">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
   
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>

  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart px-3 navIcons"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div class="dropdown-item">

          <img class="headerDropdownPic" src="{{myCart.imageUrl}}" alt="{{myCart.name}}">
          <h2 class="headerDropdownTitle">{{myCart.name}}</h2>
          <p class="headerDropdownPrice">Price: {{myCart.price}}</p>
        </div>

        <!-- <a class="dropdown-item" href="#">Another action</a> -->
        <div class="dropdown-divider"></div>
        

        <!-- <a class="button categoryButton btn btn-light btn-sm mx-3"
      [routerLink]="['/categories', category.id]" routerLinkActive="active">{{category.name}}</a>
     -->
        <a class="button cartButton btn btn-light btn-sm mx-3" [routerLink]="['/checkout']" routerLinkActive="active">Go to checkout</a>
      </div>
    </li>
  <!-- <div>
        <i class="fas fa-shopping-cart px-3 navIcons"></i>
        <i class="fas fa-user px-3 navIcons"></i>
      </div> -->
</nav>