<nav class="navbar myNav">
  <a class="navbar-brand logo" [routerLink]="['/home']">mCast</a>
  <a class="nav-link navLink" [routerLink]="['/home']">Home</a>
  <a class="nav-link navLink" [routerLink]="['/search']">Search</a>
  <div class="positioning d-flex flex-row">
    <p *ngIf="myCart" class="movieNumber">{{movieCounter}}</p>
    <i class="fas fa-shopping-cart navIcons pr-3 pl-1 dropdown" data-toggle="dropdown"></i>
    <ul class="dropdown-menu scrollable-menu" role="menu">
      <h1 *ngIf="!myCart">Your cart is empty.<a class="button cartButton btn btn-light btn-sm ml-3"
          [routerLink]="['/home']">Browse movies</a></h1>
      <div class="dropdown-item" *ngFor="let cart of myCart">
        <img class="headerDropdownPic" src="{{cart.imageUrl}}" alt="{{cart.name}}">
        <h2 *ngIf="myCart" class="headerDropdownTitle">{{cart.name}}</h2>
        <p *ngIf="myCart" class="headerDropdownPrice">Price: {{cart.price}}</p>
      </div>
      <div *ngIf="myCart" class="dropdown-divider"></div>
      <p *ngIf="myCart" class="dropdown-item headerDropdownTitle">Total: {{totalAmount}} </p>
      <a *ngIf="myCart" class="button cartButton btn btn-light btn-sm ml-3" [routerLink]="['/checkout']">Go
        to checkout</a>
    </ul>
  </div>
</nav>