<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand logo" href="#">mCast</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link navLink" routerLink="/about" routerLinkActive="active">Home</a>
        <a class="nav-link navLink" routerLink="/category" routerLinkActive="active">Categories</a>
      </li>
    </ul>
    <form class="form-inline my-2 mr-5 my-lg-0">
      <input type="submit" class="form-control mr-sm-2" type="search" placeholder=" Search" aria-label="Search">
    </form>
  </div>

  <div>
      <i class="fas fa-shopping-cart px-3 navIcons"></i>
      <i class="fas fa-user px-3 navIcons"></i>
  </div>
</nav>