*{
    margin: 0;
    padding: 0;
}

/* category section */
.categorySection{
    position: absolute;
    top: calc(600px + 60px - 150px);
    width: 100%;
    height: 150px;
    background-color: black;
    opacity: 0.7;
}

h3{
    font-weight: 100;
    font-size: 1.2rem;
    color: white;
}

.categoryButton{
    border: 0.8px solid orange;
    font-size: 0.8rem;
    font-weight: 100;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 5px 20px;
    margin: 0.5em 0em;
}

.categoryButton:hover{
    background-color: orange;
    color: black;
    border: black;
    font-weight: 300;
}

/* social logo section */
footer {
    position: absolute;
    top: calc(600px + 90px);
    height: 80px;
    width: 100%;
    background-color: black;
}

.logo{
    color: red;
}

.footerText{
    font-size: 1rem;
    color: white;
}

.socialLogos{
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.socialLogoHover:hover{
    color: orange;
}


/* min-width: 420px only for category section */
@media (min-width: 420px) { 
    .categorySection{
        top: calc(630px + 60px - 150px);
    }
}


/* min-width: 576px / category section and footer positioning */
@media (min-width: 576px) { 
    .categorySection{
        top: calc(900px + 60px - 150px);
    }

    footer {
        top: calc(900px + 60px);
    }
}


/* min-width: 769px / category section and foote positioning */
@media (min-width: 769px) { 
    .categorySection{
        top: calc(700px + 60px - 150px);
    }

    footer {
        top: calc(700px + 60px);
    }
}