.catSection{
    height: 10em;
    background-color: black;
}

h3{
    color: white;
}




footer {
    height: 4em;
    background-color: black;
}

.logo{
    color: red;
}

.footerText{
    font-size: 1rem;
    color: white;
}

.socialLogos{
    font-size: 1rem;
    color: white;
}