<section class="row categorySection">
  <h3 class="col-12 text-center pt-4">Categories</h3>
  <div class="col-12 text-center">
      <button type="button" class="categoryButton btn btn-light btn-sm mx-3">Action</button>
      <button type="button" class="categoryButton btn btn-light btn-sm mx-3">Thriller</button>
      <button type="button" class="categoryButton btn btn-light btn-sm mx-3">Comedy</button>
      <button type="button" class="categoryButton btn btn-light btn-sm mx-3">Sci-fi</button>
  </div>
</section>

<footer class="row">
  <div class="col-12 d-flex justify-content-end socialLogos mr-5">
    <i class="fab fa-facebook-f px-4 my-auto"></i>
    <i class="fab fa-instagram px-4 my-auto"></i>
    <i class="fab fa-twitter px-4 my-auto"></i>
  </div>
</footer>