*{
    margin: 0;
    padding: 0;
}

.notActive{
    display: none;
}

.pageframe{
    background-color: black;
}

.checkoutFrame{
    background-color: white;
    margin-top: 7em;
    padding: 1.5em;
}

.requiredFields{
    font-size: 1rem;
    font-weight: 100;
}

.imageSize{
    width: 3em;
    margin-bottom: 0.5em;
    border: 0.5px solid lightgray;
}

h1{
    font-weight: 100;
    font-size: 2.8rem;
}

h2{
    font-size: 1rem;
    font-weight: 100;
}

h3{
    font-size: 1rem;
    font-weight: 100;
    padding-top: 2em;
}

.text{
    font-size: 0.8rem;
    font-weight: 100;
}

.text2{
    font-size: 0.8rem;
    font-weight: 100;
    margin-bottom: 1em;
}

.formText{
    font-size: 1.6rem;
    font-weight: 100;
    padding: 2em 0 1em 0;
}

.totalAmount{
    padding-top: 1em;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.margin{
    margin-top: 2em;
}

.checkoutButton{
    font-size: 0.8rem;
    font-weight: 100;
    background-color: red;
    color: lightgray;
    border-radius: 25px;
    padding: 5px 20px;
    margin: 4em 2em 3em 0em;
}

.checkoutButton:hover{
    background-color: orange;
    color: black;
    border: black;
    font-weight: 300;
}

.deleteButton{
    font-size: 0.8rem;
    font-weight: 100;
    background-color: orange;
    color: black;
    border-radius: 25px;
    padding: 5px 20px;
    margin: 1em 2em 1em 0em;
}

.deleteButton:hover{
    background-color: lightgray;
    color: black;
    border: black;
    font-weight: 300;
}


@media (min-width: 576px) { 
    .checkoutFrame{
        background-color: white;
        margin-top: 10em;
        padding: 3.5em;
        max-width: 900px;
    }
}