<div class="container-fluid pageframe">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="col-8 checkoutFrame">
        <h1>Checkout</h1>
        <p class="text">{{now}}</p>
        <h3 *ngIf="!myCart">Your cart is empty!</h3>
        <div *ngFor="let cart of myCart">
          <div class="margin">
            <img class="imageSize" src="{{cart.imageUrl}}" alt="{{cart.name}}">
            <h2>{{cart.name}}</h2>
            <p class="text">{{cart.description}}</p>
            <p class="text">{{cart.price}}</p>
          </div>
          <hr>
        </div>

        <form [formGroup]="checkoutDetails" (ngSubmit)="setOrder()">
          <p class="formText">Enter your details:</p>
          <p class="text">Upon payment we will send an access key to the e-mail adress entered below. The key will give
            you a 2-day access to your movies.</p>

          <label for="firstname" class="text">First Name
            <input type="text" placeholder=" *" formControlName="firstname" required>
          </label><br>

          <label for="lastname" class="text">Last Name
            <input type="text" placeholder=" *" formControlName="lastname" required>
          </label><br>

          <label for=email class="text">Email
            <input type="email" placeholder=" *" formControlName="email" required />
          </label><br>

          <button type="submit" class="button checkoutButton btn btn-light btn-sm"
            [disabled]="!checkoutDetails.valid">Go to checkout</button>

          <p *ngIf="!checkoutDetails.valid" class="text">* required fields
            <!-- Form Status: {{checkoutDetails.status}} -->
          </p>
          <!-- <p>value: {{checkoutDetails.value.email}}</p>
          <p>email valid: {{checkoutDetails.get('email').valid}}</p> -->
        </form>

      </div>
    </div>
  </div>
</div>

<app-footer2></app-footer2>