*{
    margin: 0;
    padding: 0;
}

.pageFrame{
    position: absolute;
    top: 0;
    width: 100%;
    height: 760px;
    background-color: black;
}

h1{
    position: absolute;
    font-weight: 100;
    font-size: 2.8rem;
    top: 15%;
    left: 60%;
    color: white;
}



/* images */
.categoryMovieFrame{
    width: 150px;
    height: 210px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.categoryMoviePoster{
    width: 100%;
    object-fit: cover;
}


.categoryMargin{
    margin-top: 12em;
}

.cardHeading{
    font-weight: 100;
    font-size: 1rem;
    padding: 0.8em 0em 0.8em 0.5em;
}

.cardText{
    font-weight: 100;
    font-size: 0.7rem;
    padding: 0em 0em 0.5em 0.5em;
}

.catMovButton{
    border: 0.8px solid orange;
    font-size: 0.8rem;
    font-weight: 100;
    background-color: black;
    color: lightgray;
    border-radius: 25px;
    padding: 5px 20px;
    margin: 1em 2em 3em 0em;
}

.catMovButton:hover{
    background-color: orange;
    color: black;
    border: black;
    font-weight: 300;
}