<main class="container-fluid pageContainer">
  <section class="row">
    <div class="pageFrame col-12">
      <h1>{{category.name}}</h1>
    </div>
  </section>

  <section class="row categoryMargin justify-content-center">
    <div class="col-10 d-flex flex-wrap justify-content-center categoryMovieContainer">
      <div *ngFor="let myCategories of catMov" class="p-2">
        <div class="categoryMovieFrame">
          <a [routerLink]="['/details', myCategories.id]" routerLinkActive="active"><img class="categoryMoviePoster"
              src="{{myCategories.imageUrl}}" alt="{{myCategories.name}}">
          </a>
        </div>
        <p class="movieTitle">{{myCategories.name | slice:0:37}}</p>
      </div>
    </div>
  </section>
</main>

<app-footer2></app-footer2>
