<main class="container-fluid pageframe">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="col-10 checkoutFrame">
          <a [routerLink]="['/home']" class="fas fa-times close"></a>
          <h1>Thank you!</h1>
          <p class="text">Check your e-mail for your access key. The key will give you a 2-day access to your movies.</p>
          <p class="text">If you have any questions, do not hesitate to contact us. Enjoy!</p> 
        </div>
      </div>
    </div>
  </main>
  