*{
    margin: 0;
    padding: 0;
}

/* category section */
.categorySection{
    width: 100%;
    background-color: black;
    padding: 5em 0em;
}

h3{
    font-weight: 100;
    font-size: 1.2rem;
    color: white;
}

.categoryButton{
    border: 0.8px solid orange;
    font-size: 0.8rem;
    font-weight: 100;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 5px 20px;
    margin: 0.5em 0em;
}

.categoryButton:hover{
    background-color: orange;
    color: black;
    border: black;
    font-weight: 300;
}

/* social logo section */
footer {
    height: 80px;
    width: 100%;
    background-color: black;
}

.logo{
    color: red;
    cursor: pointer;
}

.footerText{
    font-size: 1rem;
    color: white;
}

.socialLogos{
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.socialLogoHover:hover{
    color: orange;
}