<div *ngFor="let movie of movies">
  <!-- <img src="{{movie.imageUrl}}" alt="{{movie.name}}"> -->
  <h4>Name: {{movie.name}}</h4>
  <p>Year: {{movie.year}}</p>
  <p>Price: {{movie.price}}</p>

  <p>Category: {{movie.productCategory[0].categoryId}}</p>
        <p *ngIf='movie.productCategory[1]'>Category: {{movie.productCategory[1].categoryId}}</p>

<hr>



  <!-- All categories:
  <div *ngFor="let category of categories">
    <p>{{category.id}}: {{category.name}}</p>
 -->

 

  
<!-- if (movies.productCategory.categoryId = categories.id){
        console.log(this.categories.name)
      }else{
        console.log("no match")
      } -->


  
  <!-- <p><p>Category: {{movie.productCategory[0].categoryId}}</p>
  <p *ngIf='movie.productCategory[1]'>Category: {{movie.productCategory[1].categoryId}}</p> -->

</div>