*{
    margin: 0;
    padding: 0;
}

.randomMovieFrame{
    position: absolute;
    top: 0;
    width: 100%;
    height: 760px;
    overflow: hidden;
}

.randomMoviePoster{
    width: 100%;
    object-fit: cover;
    /* object-position: center; */
}

